@font-face {
        font-family: 'Heuristica';
        src: url('Heuristica-BoldItalic.woff2') format('woff2'),
        url('Heuristica-BoldItalic.woff') format('woff');
        font-weight: bold;
        font-style: italic;
}

@font-face {
        font-family: 'Heuristica';
        src: url('Heuristica-Bold.woff2') format('woff2'),
        url('Heuristica-Bold.woff') format('woff');
        font-weight: bold;
        font-style: normal;
}

@font-face {
        font-family: 'Heuristica';
        src: url('Heuristica-Italic.woff2') format('woff2'),
        url('Heuristica-Italic.woff') format('woff');
        font-weight: normal;
        font-style: italic;
}

@font-face {
        font-family: 'Heuristica';
        src: url('Heuristica-Regular.woff2') format('woff2'),
        url('Heuristica-Regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;
}

